@{
    ViewBag.Title = "Contact Us";
}
<br />
<br />
<center>
    <div style="border-radius: 5px; vertical-align:central; width:1250px;background-color: #fff;border: solid 1px #808080;">

        <h3>Contact Us</h3>

        <h3>Clay Systems & Services</h3>
        <address>
            Vaibhav Talkies Compound,Sholapur Road,Hadapsar,Pune - 411028<br />
        </address>
        <address>
            <strong>WebSite:</strong> <a href="http://www.clay.org.in" target="_blank">www.clay.org.in</a><br />
            <strong>Email us:</strong> <a href="mailto:info@clay.org.in">info@clay.org.in</a>
            <strong>Mobile:</strong> <a>+91 88888 77048, +91 77986 38638</a>
        </address>
    </div>
</center>

